@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@700&display=swap");
* {
  margin: 0;
  /* box-sizing: border-box; */
  font-family: "Martel Sans", sans-serif;
}
.App {
  background-color: #111;
}

@media screen and (max-width: 768px) {
  .banner__title {
    font-size: 1.5rem;
  }
}
